*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
 
body
{
    font-family:  montserrat;
    background-color:#dfdce3;
}
nav{
    background-color: #4abdac;
    height: 70px;
    width: 100%;
}
label{
    color: #fff2bc;
    font-size: 35px;
    line-height: 80px;
    padding: 0 10px;
    font-weight: bold;
    margin: -5px 0px;
}

nav ul{
    float: right;
    margin-right: 20px;

}
nav ul li{
display: inline-block;
line-height: 80px;
margin: -3px 15px;
}
nav ul li a{
    color: #fff2bc;
    font-size: 17px;
    text-transform: uppercase;
    padding: 8px 15px;
    border-radius: 5px;
    transition: 1.5s;
}
a.active{
    background: #f7b733;
}
a:hover{
    background-color: #fc4a1a;
}

table{
    width: 200px;
    height: 200px;
    margin: 10px;
    text-align: center;
    margin-top: 100px;
    margin-left: 300px;
}
.table img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin-left: 0px;
    animation: gambar ease 2s forwards;
}
.btn1{
    border: 2px solid #f7b733;
    background: #4abdac;
    border-radius: 10px;
    padding: 10px 30px;
    font-size: 10px;
    cursor: pointer;
    margin: 10px;
    color: #fff2bc;
    transition: 1s;
    font-weight: bolder;
    text-transform: uppercase;
}
.btn1:hover{
    background: #f7b733;
    animation: uluwatu 2s ease forwards;
}



.btn2{
    border: 2px solid #f7b733;
    background: #4abdac;
    border-radius: 10px;
    padding: 10px 30px;
    font-size: 10px;
    cursor: pointer;
    margin: 10px;
    color: #fff2bc;
    transition: 1s;
    font-weight: bolder;
    text-transform: uppercase;

}
.btn2:hover{
    background: #f7b733;
    animation: uluwatu 2s ease forwards;
    
}

@keyframes uluwatu {
    from{
        padding: 10px 30px;
        font-size: 10px;
        font-weight: normal;
    }
    to{
        padding: 10px 40px;
        font-size: 15px;
        font-weight: bold;
    }
    
}

td{
   padding: 0 150px;
   padding-left: 15px;
   margin: 150px 150px;
}
i{
    margin-right: 8px;
}

.btn3{
    border: 2px solid #f7b733;
    background: #4abdac;
    border-radius: 10px;
    padding: 10px 30px;
    font-size: 10px;
    cursor: pointer;
    margin: 10px;
    color: #fff2bc;
    transition: 1s;
    font-weight: bolder;
    text-transform: uppercase;
}
.btn3:hover{
    background: #f7b733;
    animation: uluwatu 2s ease forwards;

}

@keyframes gambar {
    0%{
        width: 200px;
        opacity: 0%;
    }
    50%{
        width: 50px;
        opacity: 50%;
    }
    100%{
        width: 200px;
        opacity: 100%;
    }
    
}
