*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
 
body{
    background-color: #F08080;
}
 
.badan-utama
{
    max-width: 1080px;
    margin: 20px auto;
    background-color: white;
    padding: 15px;
    overflow: hidden;
}
h4{
    font-size: 20px;
    color:gray;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}
h5{
    font-size: 20px;
    color:gray;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;

}

header
{
    background-color: 	#87CEFA;
    color: white;
    padding: 30px;
}
 
header h2
{
    margin-bottom: 30px;
    font-size: 35px;
    padding: 20px;
}
 
.navigasi ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:tan;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
}
 
.navigasi li 
{
    float: left;
}
 
.navigasi li a 
{
    display: block;
    color: 	#fff2bc;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
}
 
.navigasi li a:hover 
{
    background-color:gray;
    transition-duration: 2s;
}
 
.kotak
{
    padding: 10px;
}
 
.kotak h3
{
    background-color: crimson;
    color: white;
    text-align: center;
    padding: 10px;
}
 
.kotak img
{
    display: block;
    width: 40%;

}
 
.kotak p
{
    margin-bottom: 50px;
}

 
.menu-tengah
{
    width: 1080px;
    margin: 0;
   
}
 
.menu-tengah h3
{
    background: none;
    color: crimson;
}
 
 
.tombol:hover
{
    background-color: #DEB887;
    transition-duration: 2s;
}
 
  .menu-tengah
{
    margin-bottom: 0;
}
 

 
 
@media screen and (max-width:1080px)
{
    .badan-utama
    {
        width: 100%;
    }
 
    
 
    .menu-tengah
    {
        width: 68%;
        float: right;
    }
 

 
@media screen and (max-width:780px)
{
    header h2, header p
    {
        text-align: center;
    }
 
 .menu-tengah
    {
        float: none;
        width: 100%;
    }
 
    .navigasi li {
        float: none;
    }
