*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
 
body
{
    font-family:  montserrat;
}
nav{
    background-color: #f00;
    height: 70px;
    width: 100%;
}
label.logo{
    color: #fff2bc;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    margin: -5px 0px;
}
nav ul{
    float: right;
    margin-right: 20px;

}
nav ul li{
display: inline-block;
line-height: 80px;
margin: -3px 15px;
}
nav ul li a{
    color: #fff2bc;
    font-size: 17px;
    text-transform: uppercase;
    padding: 8px 15px;
    border-radius: 3px;
}
a.active,a:hover{
    background: #ff5a0b;
}
table{
    width: 200px;
    height: 200px;
    margin: 10px;
    text-align: center;
    margin-top: 100px;
    margin-left: 300px;
}
.table img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
}
.btn1{
    border: 1px solid #ff5a0b;
    background: firebrick;
    border-radius: 10px;
    padding: 10px 30px;
    font-size: 10px;
    cursor: pointer;
    margin: 10px;
    color: #fff2bc;
}
.btn1:hover{
    animation: uluwatu 2s ease forwards;
}

.seminyak{
    text-align: center;
    padding-top: 50px;
}

.btn2{
    border: 1px solid #ff5a0b;
    background: firebrick;
    border-radius: 10px;
    padding: 10px 30px;
    font-size: 10px;
    cursor: pointer;
    margin: 10px;
    color: #fff2bc;

}
.btn2:hover{
    animation: uluwatu 2s ease forwards;
    
}

@keyframes uluwatu {
    from{
        padding: 10px 30px;
        font-size: 10px;
        font-weight: normal;
    }
    to{
        padding: 10px 40px;
        font-size: 15px;
        font-weight: bold;
    }
    
}

td{
    padding-left: 30px;
    padding-top: 30px;
}
